workflows/contact-form-ai.json
{
  "name": "Contact Form AI Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contact-form",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "contact-form-webhook",
      "credentials": {
        "httpHeaderAuth": {
          "id": "header-auth-cred",
          "name": "Webhook Header Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Spread form fields for forward compatibility - new form fields pass through automatically.\n// Downstream nodes (Sheets, Slack, Email) explicitly select which fields to use.\nconst body = $input.first().json.body || {};\nreturn [{ json: { ...body, submittedAt: new Date().toISOString() } }];"
      },
      "id": "normalize-fields",
      "name": "Normalize Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-name-notempty",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "condition-email-notempty",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "condition-email-regex",
              "leftValue": "={{ $json.email }}",
              "rightValue": "^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            },
            {
              "id": "condition-subject-notempty",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "condition-message-notempty",
              "leftValue": "={{ $json.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validate-fields",
      "name": "Validate Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        710,
        300
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "error-field",
              "name": "error",
              "value": "Validation failed",
              "type": "string"
            },
            {
              "id": "message-field",
              "name": "message",
              "value": "All fields are required and email must be valid.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        480
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "validation-error-respond",
      "name": "Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1400,
        480
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "success-respond",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2090,
        300
      ]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "id": "spam-rule",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "spam-score-condition",
                    "leftValue": "={{ $json.spam_score }}",
                    "rightValue": 70,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "spam"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "route-spam",
      "name": "Route by Spam Score",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1400,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ spam: true, message: 'Submission flagged as spam', category: $json.category, spam_score: $json.spam_score, spam_reason: $json.spam_reason }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "spam-respond",
      "name": "Spam Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2090,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o', temperature: 0.2, max_tokens: 800, response_format: { type: 'json_object' }, messages: [ { role: 'system', content: 'You are a contact form analyzer for a business website. Analyze the submitted message and return a JSON object.\\n\\nCLASSIFICATION CATEGORIES (pick exactly one):\\n- support: Technical issues, bugs, how-to questions, troubleshooting\\n- sales: Pricing inquiries, demo requests, partnerships, purchasing\\n- feedback: Product suggestions, compliments, complaints, reviews\\n- general_inquiry: Ambiguous questions, company info requests, other\\n- spam: Obvious spam (gibberish, link farms) or unsolicited marketing (SEO pitches, \\\"boost your traffic\\\" offers)\\n\\nINSTRUCTIONS:\\n1. Classify into ONE category from the list above\\n2. Provide your confidence in the classification (0-100)\\n3. Write a one-line summary of the message (under 100 characters)\\n4. Calculate a spam confidence score (0-100) with a brief reason\\n5. If spam_score <= 80, draft a professional, warm response (4-6 sentences) that acknowledges the sender by name, echoes back specific details from their message, suggests appropriate next steps, and matches category tone: sales=enthusiastic, support=empathetic, feedback=grateful, general_inquiry=helpful\\n6. If spam_score > 80, set draft_response to an empty string\\n\\nReturn ONLY valid JSON in this EXACT structure (no extra fields, no markdown):\\n{\\n  \\\"category\\\": \\\"one_of_the_5_categories\\\",\\n  \\\"category_confidence\\\": 85,\\n  \\\"summary\\\": \\\"One-line summary under 100 chars\\\",\\n  \\\"spam_score\\\": 15,\\n  \\\"spam_reason\\\": \\\"Brief explanation of spam assessment\\\",\\n  \\\"draft_response\\\": \\\"The drafted response OR empty string if spam > 80\\\"\\n}' }, { role: 'user', content: 'Analyze this contact form submission:\\n\\nName: ' + $json.name + '\\nEmail: ' + $json.email + '\\nSubject: ' + $json.subject + '\\nMessage: ' + $json.message } ] }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "analyze-contact-form",
      "name": "Analyze Contact Form",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "openai-api-cred",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const apiResponse = $input.first().json;\nconst rawContent = apiResponse.choices?.[0]?.message?.content || '';\n\nlet parsed;\ntry {\n  parsed = JSON.parse(rawContent);\n} catch (e) {\n  return [{\n    json: {\n      category: 'general_inquiry',\n      category_confidence: 0,\n      summary: 'Unable to process submission',\n      spam_score: 0,\n      spam_reason: 'Processing error - could not parse AI response',\n      draft_response: '',\n      parse_error: true,\n      name: $('Normalize Fields').first().json.name,\n      email: $('Normalize Fields').first().json.email,\n      subject: $('Normalize Fields').first().json.subject,\n      message: $('Normalize Fields').first().json.message,\n      submittedAt: $('Normalize Fields').first().json.submittedAt\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    category: parsed.category || 'general_inquiry',\n    category_confidence: Number(parsed.category_confidence) || 50,\n    summary: (parsed.summary || 'No summary available').substring(0, 100),\n    spam_score: Number(parsed.spam_score) || 0,\n    spam_reason: parsed.spam_reason || 'No spam indicators detected',\n    draft_response: parsed.draft_response || '',\n    name: $('Normalize Fields').first().json.name,\n    email: $('Normalize Fields').first().json.email,\n    subject: $('Normalize Fields').first().json.subject,\n    message: $('Normalize Fields').first().json.message,\n    submittedAt: $('Normalize Fields').first().json.submittedAt\n  }\n}];"
      },
      "id": "parse-ai-response",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1170,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const json = item.json;\n\n  // Detect if AI analysis failed or returned incomplete data\n  // continueOnFail passes error object, parse errors set parse_error flag\n  const aiMissing = !json.category ||\n                    json.category === '' ||\n                    json.parse_error === true ||\n                    json.error !== undefined;\n\n  if (aiMissing) {\n    return {\n      json: {\n        // Preserve original form data\n        name: json.name || '',\n        email: json.email || '',\n        subject: json.subject || '',\n        message: json.message || '',\n        submittedAt: json.submittedAt || '',\n\n        // Default AI values for graceful degradation\n        category: 'general_inquiry',\n        category_confidence: 0,\n        summary: 'Unable to process - AI analysis unavailable',\n        spam_score: 0,\n        spam_reason: 'AI analysis failed - defaulting to non-spam',\n        draft_response: '',\n\n        // Flag for downstream warnings tracking\n        ai_failed: true\n      }\n    };\n  }\n\n  // AI processing succeeded — add ai_failed: false for consistent field shape\n  return { json: { ...json, ai_failed: false } };\n});"
      },
      "id": "ai-fallback-handler",
      "name": "AI Fallback Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1290,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({\n  json: { ...item.json, is_spam: true, warnings: 'None' }\n}));"
      },
      "id": "flag-as-spam",
      "name": "Flag as Spam",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1630,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({\n  json: { ...item.json, is_spam: false }\n}));"
      },
      "id": "flag-as-legitimate",
      "name": "Flag as Legitimate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1630,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Submitted At": "={{ $json.submittedAt }}",
            "Name": "={{ $json.name }}",
            "Email": "={{ $json.email }}",
            "Subject": "={{ $json.subject }}",
            "Message": "={{ $json.message }}",
            "Category": "={{ $json.category }}",
            "Summary": "={{ $json.summary }}",
            "Spam Score": "={{ $json.spam_score }}",
            "Spam Reason": "={{ $json.spam_reason }}",
            "Draft Response": "={{ $json.draft_response }}",
            "Is Spam": "={{ $json.is_spam }}",
            "Warnings": "={{ $json.warnings }}"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "useAppend": true
        }
      },
      "id": "log-to-sheets",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2320,
        200
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-oauth-cred",
          "name": "Google OAuth2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0123456789",
          "mode": "list"
        },
        "messageType": "attachment",
        "text": "New contact form submission from {{ $json.name }}",
        "attachments": [
          {
            "color": "={{ $json.category === 'sales' ? 'good' : ($json.category === 'support' ? 'danger' : 'warning') }}",
            "blocks": [
              {
                "type": "header",
                "text": {
                  "type": "plain_text",
                  "text": "New Contact Form Submission"
                }
              },
              {
                "type": "section",
                "fields": [
                  {
                    "type": "mrkdwn",
                    "text": "*Name:*\n{{ $json.name }}"
                  },
                  {
                    "type": "mrkdwn",
                    "text": "*Email:*\n{{ $json.email }}"
                  }
                ]
              },
              {
                "type": "section",
                "fields": [
                  {
                    "type": "mrkdwn",
                    "text": "*Category:*\n{{ $json.category }}"
                  },
                  {
                    "type": "mrkdwn",
                    "text": "*Subject:*\n{{ $json.subject }}"
                  }
                ]
              },
              {
                "type": "section",
                "text": {
                  "type": "mrkdwn",
                  "text": "*AI Summary:*\n{{ $json.summary }}"
                }
              },
              {
                "type": "section",
                "text": {
                  "type": "mrkdwn",
                  "text": "*Suggested Reply:*\n{{ $json.draft_response }}"
                }
              },
              {
                "type": "divider"
              },
              {
                "type": "context",
                "elements": [
                  {
                    "type": "mrkdwn",
                    "text": "Submitted: {{ $json.submittedAt }}"
                  }
                ]
              }
            ]
          }
        ],
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "slack-notification",
      "name": "Send Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1860,
        200
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true,
      "credentials": {
        "slackApi": {
          "id": "slack-bot-cred",
          "name": "Slack Bot Token"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@example.com",
        "toEmail": "admin@example.com",
        "subject": "New Contact: {{ ($json.name || '').toString().replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\"/g, '&quot;') }} - {{ $json.category }}",
        "emailFormat": "html",
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <style>\n    body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif; line-height: 1.6; color: #333; margin: 0; padding: 0; background-color: #f4f4f4; }\n    .container { max-width: 600px; margin: 20px auto; background: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 4px rgba(0,0,0,0.1); }\n    .header { background: #2563eb; color: #ffffff; padding: 24px; text-align: center; }\n    .header h1 { margin: 0; font-size: 24px; font-weight: 600; }\n    .content { padding: 24px; }\n    .section { margin-bottom: 24px; }\n    .section-title { font-size: 16px; font-weight: 600; color: #1f2937; margin-bottom: 12px; border-bottom: 2px solid #e5e7eb; padding-bottom: 8px; }\n    .field { margin-bottom: 12px; }\n    .field-label { font-weight: 600; color: #4b5563; font-size: 14px; }\n    .field-value { color: #1f2937; margin-top: 4px; }\n    .message-box { background: #f9fafb; border-left: 4px solid #2563eb; padding: 12px 16px; margin-top: 8px; border-radius: 4px; }\n    .footer { background: #f9fafb; padding: 16px 24px; text-align: center; color: #6b7280; font-size: 12px; border-top: 1px solid #e5e7eb; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>New Contact Form Submission</h1>\n    </div>\n    <div class=\"content\">\n      <div class=\"section\">\n        <div class=\"section-title\">Contact Information</div>\n        <div class=\"field\">\n          <div class=\"field-label\">Name</div>\n          <div class=\"field-value\">{{ ($json.name || '').toString().replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\"/g, '&quot;') }}</div>\n        </div>\n        <div class=\"field\">\n          <div class=\"field-label\">Email</div>\n          <div class=\"field-value\">{{ ($json.email || '').toString().replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\"/g, '&quot;') }}</div>\n        </div>\n        <div class=\"field\">\n          <div class=\"field-label\">Subject</div>\n          <div class=\"field-value\">{{ ($json.subject || '').toString().replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\"/g, '&quot;') }}</div>\n        </div>\n        <div class=\"field\">\n          <div class=\"field-label\">Message</div>\n          <div class=\"message-box\">{{ ($json.message || '').toString().replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\"/g, '&quot;') }}</div>\n        </div>\n      </div>\n      <div class=\"section\">\n        <div class=\"section-title\">AI Analysis</div>\n        <div class=\"field\">\n          <div class=\"field-label\">Category</div>\n          <div class=\"field-value\">{{ $json.category }}</div>\n        </div>\n        <div class=\"field\">\n          <div class=\"field-label\">Spam Score</div>\n          <div class=\"field-value\">{{ $json.spam_score }}/100</div>\n        </div>\n        <div class=\"field\">\n          <div class=\"field-label\">Summary</div>\n          <div class=\"field-value\">{{ ($json.summary || '').toString().replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\"/g, '&quot;') }}</div>\n        </div>\n        <div class=\"field\">\n          <div class=\"field-label\">Suggested Reply</div>\n          <div class=\"message-box\">{{ ($json.draft_response || '').toString().replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\"/g, '&quot;') }}</div>\n        </div>\n      </div>\n    </div>\n    <div class=\"footer\">\n      Submitted at {{ $json.submittedAt }}\n    </div>\n  </div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "email-notification",
      "name": "Send Email Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1860,
        580
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true,
      "credentials": {
        "smtp": {
          "id": "smtp-cred",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Convergence point: receives input from both Slack and Email notification nodes.\n// Takes the first item (both carry same form data) and checks all upstream outcomes.\nconst item = $input.first().json;\nconst warnings = [];\n\n// Check if AI analysis was unavailable\nif (item.ai_failed) {\n  warnings.push('AI analysis unavailable');\n}\n\n// Check if Slack notification failed\ntry {\n  const slackData = $('Send Slack Notification').all();\n  if (slackData.length === 0 || slackData[0].json.error) {\n    warnings.push('Slack notification failed');\n  }\n} catch (e) {\n  warnings.push('Slack notification failed');\n}\n\n// Check if Email notification failed\ntry {\n  const emailData = $('Send Email Notification').all();\n  if (emailData.length === 0 || emailData[0].json.error) {\n    warnings.push('Email notification failed');\n  }\n} catch (e) {\n  warnings.push('Email notification failed');\n}\n\nreturn [{\n  json: {\n    ...item,\n    warnings: warnings.length > 0 ? warnings.join(', ') : 'None'\n  }\n}];"
      },
      "id": "build-warnings",
      "name": "Build Warnings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2090,
        100
      ]
    },
    {
      "id": "sticky-note-overview",
      "name": "Sticky Note - Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        40,
        80
      ],
      "parameters": {
        "content": "## Contact Form AI Automation\n\nReceives form submissions via webhook, analyzes with OpenAI, routes spam vs legitimate, logs to Google Sheets, and sends Slack/email notifications.\n\n**Input:** POST with {name, email, subject, message}\n**Output:** AI analysis with category, summary, draft reply",
        "width": 360,
        "height": 200
      }
    },
    {
      "id": "sticky-note-input",
      "name": "Sticky Note - Input & Validation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        100
      ],
      "parameters": {
        "content": "## Input Validation\n\nWebhook receives POST, Normalize Fields extracts fields, Validate Fields checks requirements.\n\n**Required:** name, email, subject, message\n**Auth:** Header token (X-Webhook-Auth)",
        "width": 320,
        "height": 180
      }
    },
    {
      "id": "sticky-note-ai",
      "name": "Sticky Note - AI Analysis",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        930,
        80
      ],
      "parameters": {
        "content": "## AI Processing\n\nOpenAI classifies the inquiry and generates:\n- **Category:** support / sales / feedback / spam\n- **Spam score:** 0-100%\n- **Summary:** One-line description\n- **Draft reply:** Suggested response\n\nIf OpenAI fails, fallback defaults are injected (category: general_inquiry, spam_score: 0).",
        "width": 340,
        "height": 200
      }
    },
    {
      "id": "sticky-note-routing",
      "name": "Sticky Note - Spam Routing",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1390,
        100
      ],
      "parameters": {
        "content": "## Spam Detection\n\nSwitch routes by spam_score:\n- **> 70%** → Spam branch (flag, log, skip notifications)\n- **<= 70%** → Legitimate branch (log, notify, respond)",
        "width": 320,
        "height": 180
      }
    },
    {
      "id": "sticky-note-logging",
      "name": "Sticky Note - Logging & Notifications",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1850,
        -20
      ],
      "parameters": {
        "content": "## Logging & Notifications\n\n**Google Sheets:** All submissions logged (spam flagged)\n**Slack:** Rich notification with color-coded category\n**Email:** HTML notification to configured recipient\n**Warnings:** Tracks partial failures (AI/Slack/Email down)\n\nNotification failures never block the form response.",
        "width": 380,
        "height": 200
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Fields": {
      "main": [
        [
          {
            "node": "Validate Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Fields": {
      "main": [
        [
          {
            "node": "Analyze Contact Form",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Contact Form": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "AI Fallback Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Fallback Handler": {
      "main": [
        [
          {
            "node": "Route by Spam Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Spam Score": {
      "main": [
        [
          {
            "node": "Flag as Spam",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Flag as Legitimate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flag as Spam": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Spam Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flag as Legitimate": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Slack Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack Notification": {
      "main": [
        [
          {
            "node": "Build Warnings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Notification": {
      "main": [
        [
          {
            "node": "Build Warnings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Warnings": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Response": {
      "main": [
        [
          {
            "node": "Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-08T00:00:00.000Z",
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "demo-instance"
  },
  "id": "contact-form-ai-workflow",
  "active": false
}
